@import './fonts';
@import './vars';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: $text-color;
  font-family: $base-font;
  font-weight: 400;
  min-width: 320px;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: $white-color;

  &.open-modal {
    overflow: hidden;
  }
}

input, button, select, textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: $base-font;
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  flex: 1 1;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 100%;
  max-width: 646px;
  padding-left: 15px;
  padding-right: 15px;
}

@import './blocks/header';
@import './blocks/person';
@import './blocks/preview';
@import './blocks/footer';